<template>
	<section>
		<form @submit.prevent="onSubmit">
			<router-link to="/" class="back-link">
				<!-- <ArrowLeft /> -->
				<span>Return to List</span>
			</router-link>
			<h1>Add new Link</h1>
			<div class="form-group">
				<label for="title">Link Name:</label>
				<input
					ref="titleInput"
					id="title"
					type="text"
					v-model="title"
					minlength="3"
					placeholder="e.g. Project title"
				/>
			</div>

			<div class="form-group">
				<label for="url">Link URL:</label>
				<input
					ref="urlInput"
					id="url"
					type="text"
					v-model="url"
					placeholder="e.g. https://abc.xyz"
				/>
			</div>

			<div class="form-group">
				<button type="submit">Add Your Link!</button>
			</div>
		</form>
	</section>
</template>

<script>
import { ref } from 'vue'
import { useToast } from '../hooks/useSwal'
import { useStore } from 'vuex'

export default {
	setup() {
		const store = useStore()
		const Toast = useToast()

		const url = ref('')
		const title = ref('')
		const urlInput = ref(null)
		const titleInput = ref(null)

		function validateUrl(url) {
			const expression =
				/^(https?:\/\/)?([a-zA-Z0-9]([a-zA-ZäöüÄÖÜ0-9-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$/gi

			return !!expression.test(url)
		}

		async function onSubmit() {
			if (title.value === '') {
				Toast.fire({
					icon: 'error',
					title: 'Please provide a valid title!',
				})
				titleInput.value.focus()
				return
			}

			if (url.value === '' || !validateUrl(url.value)) {
				Toast.fire({
					icon: 'error',
					title: 'Please provide a valid url!',
				})
				urlInput.value.focus()
				return
			}

			await store.dispatch('add', { title: title.value, url: url.value })

			Toast.fire({
				title: `${title.value} added.`,
			})

			title.value = ''
			url.value = ''
		}

		return {
			onSubmit,
			url,
			title,
			urlInput,
			titleInput,
		}
	},
}
</script>

<style scoped>
section {
	max-width: 45rem;
}
form {
	position: relative;
}

section {
	display: flex;
	flex-direction: column;
}

.back-link {
	width: max-content;
	color: hsl(0 0% 0%);
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-block: 2rem;
	font-size: 1.25rem;
	border-radius: 20px;
	padding: 8px 12px;
}

.back-link:focus,
.back-link:hover {
	outline: 1px solid;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
}

.form-group input {
	padding-block: 0.75rem;
	padding-inline: 0.5rem;
	border-radius: 3px;
}

.form-group:not(.form-group:first-child) {
	margin-top: 1.25rem;
}

.form-group label {
	padding-left: 0.25rem;
}

button[type='submit'] {
	margin-top: 1.25rem;
	border: none;
	border-radius: 20px;
	font-weight: bold;
	font-size: 1.25rem;
	margin-left: auto;
	transition: background-color 200ms, color 200ms;
}

button[type='submit']:hover,
button[type='submit']:focus {
	background: hsl(0 0% 30%);
	color: hsl(0 0% 100%);
}
</style>
