<template>
	<ul>
		<li>
			<select v-model="order">
				<option value="general">Recently Created</option>
				<option value="desc">Most Voted (Z -> A)</option>
				<option value="asc">Less Voted (A -> Z)</option>
			</select>
		</li>
		<li>
			<input
				type="search"
				v-model="search"
				@keydown.esc="search = ''"
				placeholder="Search by name / url"
			/>
		</li>
	</ul>
</template>

<script>
import { ref, watch } from 'vue'
import { useStore } from 'vuex'

export default {
	setup() {
		const store = useStore()

		const order = ref(store.state.orderType)
		const search = ref(store.state.search)

		watch(order, (orderType) => {
			store.commit('setOrderType', orderType)
			store.commit('setPage', 1)
		})

		watch(search, (search) => {
			store.commit('setSearch', search)
			store.commit('setPage', 1)
		})

		return { order, search }
	},
}
</script>

<style scoped>
select,
input {
	width: 100%;
}
li + li {
	margin-top: 1rem;
}
</style>
