<template>
	<article>
		<template v-if="getList.length">
			<Card v-for="data in getList" :key="data.id" :data="data" />
		</template>
		<template v-else>
			<h3 style="text-align: center">No Link added yet.</h3>
		</template>
	</article>
</template>

<script>
import { useGetters } from '../helpers'
import Card from '../atomics/Card'

export default {
	components: {
		Card,
	},
	setup() {
		const { getList } = useGetters('getList')

		return { getList }
	},
}
</script>
